.myProjectsBlock {
    background-color: #e0d07d;

    min-height: 100vh;
}

.myProjectsContainer {
    background: chartreuse;
    display: flex;

    justify-content: center;
    flex-wrap: wrap;
}

.projectsList{
    border: 2px solid aqua;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    background: cornflowerblue;
}