.skill {
    width: 250px;
    background-color: #a871d9;
    /*min-height: ;*/
    border: 1px solid;
    /*justify-content: space-between;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; /* только строчные внутри блочных выравнивает*/


}

.icon {
    width: 60px;
    height: 60px;
    background-color: #97e797;
}

.description {
    padding: 20px;
    box-sizing: border-box;
}