.skill {
    width: 250px;
    background-color: #a871d9;
    /*min-height: ;*/
    border: 1px solid;

}

.icon {
    width: 60px;
    height: 60px;
    background-color: #97e797;
}

.description {

}