.contacts {
    height: 400px;
    min-width: 350px;
    border: 2px #c22066 solid;
    background-color: #8fb0ec;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.myForm {
    border: 2px #0f1514 solid;
    background-color: #104bb6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 350px;
    margin-bottom: 20px;

}
h3 {
    margin: 10px;
    background: #b9bcbf;
    display: flex;
    justify-content: center;
    align-items: center;
}
input {
    width: 300px;
    /*max-width: 100vh;*/
    /*padding: 3px;*/
    margin-bottom: 20px;
    box-sizing: border-box;
}
textarea{
    width: 300px;
    margin-bottom: 20px;
    box-sizing: border-box;

}

 button.sendForm{
    width: 100px;
    height: 30px;
    border-radius: 10%;
    margin-bottom: 20px;
     background: #97e797;
}